<% provide :title, t("static_pages.help.helppages") %>
<h1><%= t "static_pages.help.title" %></h1>
<p>
  <%= t "static_pages.help.description" %>
  <%= t "static_pages.help.description_1" %> 
  <%= link_to t("static_pages.help.email"), Settings.online_courses.help.mail %>
</p>
