<% provide :title, t("registers.new.title") %>
<% provide :button_text, t("registers.new.button") %>
<h1><%=t("registers.new.details")%></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
