default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: "YOUR USERNAME"
  password: "YOUR OWN PASSWORD"
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: malay-group-2_development

test:
  <<: *default
  database: malay-group-2_test

production:
  <<: *default
  database: malay-group-2_production
  username: malay-group-2
  password: "YOUR OWN PASSWORD"
